$blue: #42adeb;

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li {
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color : inherit;
}

@mixin scrollbars($size, $foreground-color, $background-color) {
  ::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  ::-webkit-scrollbar-thumb {
    background: #bbb;
    cursor: pointer;
  }
}

@include scrollbars(4px, #bad2de, transparent);

.header {
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 5px #bbb;
  .logo {
    padding: 20px 0px;
    margin: 0 auto;
    width: 200px;
    position: relative;
    p {
      font-size: 24px;
      color: #fff;
      font-weight: 800;
      letter-spacing: 4px;
      font-style: italic;
    }
    img {
      width: 100%;
    }
  }
}
.wrap {
  width: 620px;
  margin: 30px auto;

  .adverst {
    width: 620px;
    height: 120px;
    margin: 30px auto;
    position: relative;
    background: #ccc;
    .adbox{
      width: 100%;
      position: relative;
      img{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
      }
    }
    .close {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      z-index: 1;
      right: -25px;
      p {
        letter-spacing: 1px;
        writing-mode: vertical-lr;
      }
    }
  }
  .container {
    width: 100%;
    height: 480px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .coverbox,
    .introbox {
      flex: 1;
      height: 100%;
    }
    .coverbox {
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .introbox {
      padding: 10px 30px;
      box-sizing: border-box;
      @include scrollbars(4px, #bad2de, transparent);
      overflow-y: auto;
      .intro {
        p {
          width: 80px;
          display: inline-block;
          padding: 5px 0;
        }
      }
      .name {
        width: 100%;
        height: 60px;
        p {
          font-size: 24px;
          font-weight: 800;
          color: rgba(21, 67, 146, 1);
        }
      }
      .summary {
        padding-top: 30px;
        box-sizing: border-box;
        p {
          font-size: 14px;
          letter-spacing: 1px;
          padding: 10px 0;
        }
      }
    }
  }
  .chaper {
    width: 100%;
    margin-top: 40px;
    position: relative;
    ul {
      list-style: none;
      display: flex;
      .hot{
        position: relative;
        &::before{
          position: absolute;
          content:'hot';
          font-size: 12px;
          color: #fff;
          border-radius: 4px;
          padding: 0 3px;
          left: -5px;
          top: -10px;
          background: #ff2424;
          transform: rotate(-20deg)
        }
      }
      li {
        cursor: pointer;
        padding: 10px 20px;
        letter-spacing: 2px;
        transition: 0.1s;
        color: #333;
        &:hover {
          background: $blue;
          color: #fff;
        }
      }
      .on {
        background: $blue;
        color: #fff;
      }
    }
    .chaperbox {
      width: 100%;
      height: 300px;
      border: 1px solid #ccc;
      padding: 20px;
      margin-top: 5px;
      box-sizing: border-box;
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          margin: 3px;
          padding: 5px 15px;
          border: 1px solid #ccc;
          border-radius: 3px;
        }
      }
    }
  }
}
